<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white">Challenge</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn-navbar" (click)="navigate('device')">Device Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-navbar" (click)="navigate('category')">Category Management</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
